#Data Manipulation
numpy
pandas
scikit-learn
joblib

#Data Visualisation
matplotlib
seaborn
plotly

#Dashboard
streamlit

#Machine Learning
scikit-learn

#Jupyter Notebook
notebook
ipykernel
jupyter-client
jupyter-core
ipywidgets 

joblib